@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background: #bbb;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.DraftEditor-editorContainer h1 {
  @apply text-4xl;
  @apply font-bold;
}
.DraftEditor-editorContainer h2 {
  @apply text-3xl;
  @apply font-bold;
}
.DraftEditor-editorContainer h3 {
  @apply text-2xl;
  @apply font-bold;
}
.DraftEditor-editorContainer h4 {
  @apply text-xl;
  @apply font-semibold;
}
.DraftEditor-editorContainer h5 {
  @apply text-lg;
  @apply font-semibold;
}
.DraftEditor-editorContainer h6 {
  @apply text-sm;
  @apply font-semibold;
}
